Skip to content
This repository
Search
Pull requests
Issues
Gist
 @heikomat
 Unwatch 16
  Star 0
 Fork 0 5minds/5minds.kaizen Private
 Code  Issues 50  Pull requests 0  Projects 1  Wiki  Pulse  Graphs
Branch: develop Find file Copy path5minds.kaizen/backend/.editorconfig
1a1bedf  on 8 Sep
@heikomat heikomat Move main modules to parent-folder
1 contributor
RawBlameHistory
17 lines (12 sloc)  258 Bytes
# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help
